<header class="text-2xl border-2 bg-[#440D68] mx-2 mt-2   font-bold p-7 text-center text-white rounded-lg">
  Animales
  identificados
  con
  Microchip por
  localidad en Bogota D.C.
</header>
<main
  class="mt-4  bg-white/10 text-white  pb-10 pt-8 shadow-xl ring-1 ring-gray-900/5 mx-auto max-w-7xl rounded-lg px-10 text-justify text-base/6 mb-4">
  <p>Este proyecto tiene como objetivo analizar los datos relacionados con animales que cuentan con microchips en
    diversas
    localidades de Bogotá. Estos datos fueron extraídos de los conjuntos de datos abiertos proporcionados por el
    Gobierno
    Digital de Colombia, los cuales consisten en información pública disponible en formatos que permiten su uso y
    reutilización bajo licencia abierta, sin restricciones legales para su aprovechamiento.<br /><br />

    En el desarrollo de este proyecto, se llevó a cabo una limpieza de los datos descargados. Posteriormente, se creó la
    base de datos en PostgreSQL mediante el ORM SQLAlchemy. Luego, se procedió a la extracción de la información y su
    almacenamiento en la base de datos de PostgreSQL usando Python. Finalmente, se llevó a cabo la visualización de
    estos datos utilizando el framework Angular, en conjunto con Tailwind y Python para la generación de gráficas.</p>
</main>
<section class="grid grid-cols-4 gap-5 justify-items-stretch">
  <section class="grid grid-rows-2 justify-items-stretch gap-4 ">
    <!-- mt-4 ml-[4rem] -->
    <div
      class="bg-white/10  justify-self-end w-[18rem] h-[15rem]  text-center text-white p-8 shadow-xl ring-1 ring-gray-900/5 rounded-lg">
      <p>Perros y Gatos con Microchip</p>
    </div>
    <div
      class="bg-white/10  justify-self-end w-[18rem] h-[15rem]  text-center text-white p-8 shadow-xl ring-1 ring-gray-900/5 rounded-lg">

      <p>Número de Razas Identificadas</p>
    </div>
  </section>

  <section class="grid grid-rows-2 col-span-2 gap-4 ">
    <div class="bg-white/10  h-[15rem] text-center text-white p-8 shadow-xl ring-1 ring-gray-900/5 rounded-lg">
      <p>Mascotas según su estrato</p>
    </div>
    <section class="grid grid-cols-2 justify-items-stretch gap-5  ">
      <div
        class="bg-white/10 justify-self-end w-[23rem] h-[15rem]  text-center text-white p-8 shadow-xl ring-1 ring-gray-900/5 rounded-lg">
        <p>Nombres más comunes de Perros</p>
      </div>
      <div
        class="bg-white/10  w-[23rem] h-[15rem]  text-center text-white p-8 shadow-xl ring-1 ring-gray-900/5 rounded-lg">

        <p>Nombres más comunes de Gatos</p>
      </div>
    </section>
  </section>
  <section class="">
    <div
      class="bg-white/10  w-[18rem] h-[6.9rem] text-center  text-white p-8 shadow-xl ring-1 ring-gray-900/5 rounded-lg">
      <p>Perros esterilizados</p>
    </div>
    <div
      class="bg-white/10 mt-4 w-[18rem] h-[6.9rem] justify-self-start text-center text-white p-8 shadow-xl ring-1 ring-gray-900/5 rounded-lg">
      <p>Gatos esterilizados</p>
    </div>
    <div
      class="bg-white/10 mt-5 w-[18rem] h-[15rem] justify-self-start text-center text-white p-8 shadow-xl ring-1 ring-gray-900/5 rounded-lg">

      <p>Fechas implante Microchip</p>
    </div>
  </section>
</section>

<section class="grid grid-cols-2 justify-items-stretch gap-4 mb-4 mt-4">
  <div
    class="bg-white/10  justify-self-end w-[42rem] h-[15rem] text-center text-white p-8 shadow-xl ring-1 ring-gray-900/5 rounded-lg">
    <p>Perros por localidad</p>
  </div>
  <div
    class="bg-white/10   justify-self-start w-[42rem] h-[15rem] text-center text-white p-8 shadow-xl ring-1 ring-gray-900/5 rounded-lg">
    <p>Gatos por Localidad</p>
  </div>

</section>