@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background: #630F6D;
  border-radius: 50px;
}

body::-webkit-scrollbar-track {
  background: #ae62a6;
}
